/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #593592;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
}

/* Estilo do Cabeçalho */
header {
  text-align: center;
  padding: 20px;
  background-color: #4c2c92;
  width: 100%;
}

header h1 {
  margin: 0;
}

/* Botão de Novo Cadastro */
button {
  background-color: #663399;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #5a2d85;
}

/* Estilo do Corpo Principal */
main {
  width: 100%;
  max-width: 1550px;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  overflow: hidden; /* Remove rolagem horizontal */
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Tabela com layout fixo para evitar overflow */
  overflow: hidden;
  word-wrap: break-word;
  box-sizing: border-box; /* Garantir que o padding e border sejam incluídos na largura total */
}

/* Cabeçalho da Tabela */
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  white-space: nowrap; /* Impede que o conteúdo das células ultrapasse a largura */
}

th {
  background-color: #4c2c92;
  color: white;
}

td {
  background-color: #f9f9f9;
}

/* Estilo dos Botões da Tabela */
table button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table button:hover {
  background-color: #45a049;
}

/* Responsividade da Tabela */
@media (max-width: 768px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    display: block;
    width: 100%;
    text-align: left;
  }

  th {
    background-color: #4c2c92;
    color: white;
  }

  td {
    background-color: #f9f9f9;
    border: none;
    padding-left: 20px;
    text-align: left;
  }

  td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
}
