/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #593592;
  color: white;
  margin: 0;
  padding: 0;
}

/* Estilo do Cabeçalho */
header {
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 150px;
}

/* Estilizando o Formulário */
main {
  background: white;
  color: #333;
  width: 80%;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #663399;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5a2d85;
}
